<section class="court-details">
    <h1>NYC Court Finder</h1>
    <h2>{{court.name}}</h2>
    <p>UserName: {{user.name}}</p>
    <p>Court: {{court.court}}</p>
    <p>Address: {{court.address}}</p>
    <button id="pick-up-games-btn">Pick Up Games</button>
    <div id="map"></div>
</section>