<section>
  <h2>Create a Pick Up Game:</h2>
  <p id="disclaimer">
    Disclaimer: The pickup games listed on this website are organized and managed entirely by the users. The developers of this website are not responsible for any events or activities that take place as a result of the information provided on this website. We provide this information solely as a service to our users, and it is up to each individual to determine whether or not to participate in any pickup games listed on this website. Any decision to participate in such games is entirely at the individual's own risk and discretion. The developers of this website assume no responsibility for any injuries, damages, or other consequences that may arise from participation in pickup games listed on this website. By using this website, you agree to these terms and conditions.
  </p>

{{!-- Section to display error messages --}}
<div id='error-container' hidden></div>

  <div class="full-form-wrapper">
    <div class='form-wrapper'>
      <form id="createGameForm" action="/game/{{courtId}}" method="POST">
        <label class='button_text' for="date">Date (MM/DD/YYYY):</label>
        <input type="date" id="date" name="date" required>
        <br>
        <label class='button_text' for="time">Time (HH:MM AM/PM):</label>
        <input type="text" id="time" name="time" pattern="^(0?[1-9]|1[012]):[0-5][0-9] (AM|PM)$" required>
        <br>
        <label class='button_text' for="maxPlayers">Maximum Players:</label>
        <input type="number" id="maxPlayers" name="maxPlayers" min="1" max="100" required>
        <br>
        <input type="hidden" name="courtId" id="courtId" value="{{courtId}}">
        <input class='button' name="createGameButton" type="submit" value="Create Game">
      </form>
    </div>
  <div/>
</section>

{{!-- Script to redirect back to the court render --}}
<script src="/public/js/createGame.js"></script>

