<section class="create-game">
    <h1>NYC Court Finder</h1>
    <header>
    <nav>
        <span class="nav-item">UserName: {{user.name}}</span>
    </nav>
</header>
    <h2>Create Pick Up Game</h2>
    <form id="create-game-form">
        <label for="game-name">Game Name</label>
        <input type="text" id="game-name" required>

        <label for="game-time-date">Game Time/Game Date</label>
        <input type="datetime-local" id="game-time-date" required>

        <label for="game-duration">Game Duration</label>
        <input type="number" id="game-duration" required>

        <label for="game-status">Game Status</label>
        <select id="game-status" required>
            <option value="">Select Status</option>
            <option value="On">Public</option>
            <option value="Cancel">Private</option>
        </select>

        <label for="playing-capacity">Playing Capacity</label>
        <input type="number" id="playing-capacity" required>

        <button type="submit">Post Game</button>
    </form>
</section>
