<section class='login'>
	<h1>Good to see you again!</h1>
	<div id='route-error-wrapper'>{{{error}}}</div>
	<div id='error-container' hidden></div>
	<div class="full-form-wrapper">
		<div class='form-wrapper'>
			<form id='login-form' action='/user/login' method='post'>
				<label class='button_text' for='email'>Email:</label>
				<input type='email' id='email' name='email' required>

				<label class='button_text' for='password'>Password:</label>
				<input type='password' id='password' name='password' required>

				<button class='button' type='submit'>Login</button>
			</form>
		</div>
		<div class='link-wrapper'>
			<a href='/user/register'>Click here to register!</a>
		</div>
	</div>
</section>
<script src='/public/js/login.js'></script>