h1 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

h2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

nav {
	background-color: #E8E8E8;
	border: 2px solid black;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-bottom: 2%;
}

#error-container {
	color: #9e1515;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 14px;
	text-align: center;
	overflow-wrap: break-word;
}

#route-error-wrapper {
	color: #9e1515;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	overflow-wrap: break-word;
	padding-bottom:10px;
}

.full-form-wrapper {
	background-color: #E8E8E8;
	border: 2px solid black;
	border-radius: 5px;
	width: 35%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: auto;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 65%;
}

input {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	padding: 5px;
    margin-bottom: 5px;
}

textarea {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    background-color: rgb(245, 245, 245);
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}

select {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	padding: 5px;
}

.button {
	background-color: #6591e2;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	text-align: center;
}

.button:hover {
	background-color: #103fbf;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	text-align: center;
}

.button_text {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

p {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.link-wrapper {
    text-align: center;
    margin-top: 10px;
}

a {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a:hover {
	color: #103fbf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

#profile-image {
	max-width: 20%;
	max-height: 20%;
	border: 3px solid #000000;
	border-radius: 60%;
	margin: auto;
}

#image-wrapper {
	text-align: center;
}

#map {
	width: 50%;
	height: 400px;
	float: right;
	border: 3px solid #000000;
	margin: 10px;
}

iframe {
	width: 100%;
	height: 100%;
}

#court-info {
	width: 100%;
	margin: auto;
}

#games-wrapper {
	width: 45%;
	margin: auto;
	float: left;
}

#review-wrapper {
	margin: auto;
	display:inline-block;
}