body {
	background-color: #F6F3EC;
}

h1 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

h2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

footer {
	padding-top: 2%;
	text-align: center;
	display: block;
}

.nav-left-links {
	text-align: center;
	float: left;
	padding-left: 20px;
}

.nav-right-links {
	text-align: center;
	padding-right: 20px;
	float: right;
	display: flex;
}

.left-text {
	padding-right: 15px;
}

nav {
	background-color: #5577d1;
	border: 2px solid black;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 2%;
	height: 40px;
}

#error-container {
	color: #9e1515;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 14px;
	text-align: center;
	overflow-wrap: break-word;
}

#route-error-wrapper {
	color: #9e1515;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	overflow-wrap: break-word;
	padding-bottom:10px;
}

.full-form-wrapper {
	background-color: #E8E8E8;
	border: 2px solid black;
	border-radius: 5px;
	width: 35%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: auto;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 65%;
}

input {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	padding: 5px;
    margin-bottom: 5px;
}

textarea {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    background-color: rgb(245, 245, 245);
    border-color: #000000;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}

select {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	padding: 5px;
}

.button {
	background-color: #536caa;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	text-align: center;
}

.button:hover {
	background-color: #103fbf;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	text-align: center;
}

.button_text {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

p {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.link-wrapper {
    text-align: center;
    margin-top: 10px;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

a {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

#profile-image {
	max-width: 20%;
	max-height: 20%;
	border: 3px solid #000000;
	border-radius: 60%;
	margin: auto;
}

#image-wrapper {
	text-align: center;
}

#map {
	width: 50%;
	height: 400px;
	float: right;
	border: 3px solid #000000;
	margin: 10px;
}

iframe {
	width: 100%;
	height: 100%;
}

#court-info {
	width: 100%;
	margin: auto;
}

#games-wrapper {
	width: 45%;
	margin: auto;
	float: left;
}

#review-wrapper {
	margin: auto;
	display:inline-block;
}

#court-info {
	display: flex;
	justify-content: center;
} 

.court {
	background-color: #E8E8E8;
	border: 2px solid black;
	border-radius: 5px;
	width: 35%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: auto;
	margin-bottom: 1%;
}

.gameButton {
	background-color: #536caa;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	width: 40%;
	border-radius: 5px;
	text-align: center;
	margin-left: 3%;
}

.game-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 2%;
}

.full-game-wrapper {
	background-color: #E8E8E8;
	border: 2px solid black;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: .5%;
	width: 45%;
	padding: 1%;
	display: block;
}

#disclaimer {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.create-game-btn {
	background-color: #536caa;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	width: 45%;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	max-width: 30%;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 15px;
}

.create-game-btn:hover {
	background-color: #103fbf;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	width: 45%;
	border-radius: 5px;
	text-align: center;
	margin: auto;
}

.full-trending-game-wrapper {
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
} 

.trending-game-wrapper {
	background-color: aqua;
	align-items: center;
	justify-content: center;
	width: 20%;
	margin: 2%;
	background-color: #E8E8E8;
	border: 2px solid black;
	border-radius: 5px;
}

#routeError {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#courtReviews {
	display: inline;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.spacer {
  width: 0;
  height: 80px; 
  overflow: hidden;
}

.gameJoinForm {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 10px;
	width: 50%;
}

.joinButton {
	background-color: #536caa;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 30%;
	border-radius: 5px;
	text-align: center;
}

.joinButton:hover {
	background-color: #103fbf;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 30%;
	border-radius: 5px;
	text-align: center;
}

.player-list {
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: auto;
}

.player {
	color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#reviews-list {
	list-style: none;
}